<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>~ 𝓓𝓻𝓮𝓪𝓶 𝓓𝓲𝓪𝓻𝔂 ~</title>
    <link th:fragment="css" rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<!--TODO: maybe remove Login later on ; or better yet, hide it for logged in users -->
<header th:fragment="header" class="flex">
        <p class="header-top"><b>/home/</b></p>
        <a class="header-cell" href="/">Home</a>
        <a class="header-cell" href="/login">Login</a>
        <a class="header-cell" href="/register">Register</a>
        <a class="header-cell" href="/diary">My Diary</a>
        <a class="header-cell" href="/about">About</a>
</header>

<div th:fragment="footer">
    <footer>
        <span>© 2024- Dream Diary</span>
    </footer>
</div>

</body>
</html>
