<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>~ 𝓓𝓻𝓮𝓪𝓶 𝓓𝓲𝓪𝓻𝔂 ~ homepage</title>
    <link th:replace="~{fragments :: css}">
</head>
<body>
<div th:replace="~{fragments :: header}"></div>

<article class="content-box">
    <div>
        <h1>~ 𝓓𝓻𝓮𝓪𝓶 𝓓𝓲𝓪𝓻𝔂 ~</h1>
        <div th:if="${isLoggedIn}">
            <p th:text="'Hello, ' + ${username} + '!'"></p>
            <form action="/logout" method="post">
                <input type="submit" value="Logout">
            </form>
        </div>
            Nothing is real, there's nothing to get hung about...
    </div>
</article>

<div th:replace="~{fragments :: footer}"></div>
</body>
</html>
