<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>~ 𝓓𝓻𝓮𝓪𝓶 𝓓𝓲𝓪𝓻𝔂 ~</title>
    <link th:replace="~{fragments :: css}">
</head>
<body>
<div th:replace="~{fragments :: header}"></div>

<article class="content-box">
    <h1 th:text="${diaryEntry.title}">[Title]</h1>
    <p><strong>Created on:</strong> <span th:text="${diaryEntry.createdDate}">[Date]</span></p>

    <div>
        <strong>Emotions:</strong>
        <ul>
            <li th:each="emotion : ${diaryEntry.diaryEntryEmotions}" th:text="${emotion.emotion.name}">[Emotion Name]</li>
        </ul>
    </div>

    <div>
        <strong>Tags:</strong>
        <ul>
            <li th:each="tag : ${diaryEntry.tags}" th:text="${tag.name}">[Tag Name]</li>
        </ul>
    </div>

    <div>
        <strong>Contents:</strong>
        <p th:text="${diaryEntry.content}">[Content]</p>
    </div>

    <div>
        <a th:href="@{/diary}" class="button">Back to List</a>
        <a th:href="@{/diary/edit/{id}(id=${diaryEntry.id})}" class="button">Edit</a>
        <a th:href="@{/diary/delete/{id}(id=${diaryEntry.id})}" class="btn btn-danger"
           th:onclick="'return confirm(\'Are you sure?\');'">Delete
        </a>
    </div>
</article>

<div th:replace="~{fragments :: footer}"></div>
</body>
</html>
